<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Chatons Bazar - Venta de articulos decorativos y monedas de coleccion</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/libs/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/libs/bootstrap-theme.min.css">
	<link rel="stylesheet" href="assets/css/main.css?t=2">
	<link rel="stylesheet" href="assets/css/directiva-moneda.css?t=2">
	<link rel="stylesheet" href="assets/css/directiva-aviso-small.css?t=2">
	<link rel="stylesheet" href="assets/css/directiva-category.css?t=2">
	<link rel="stylesheet" href="assets/css/modal-details.css?t=2">
	<script src="assets/js/libs/jquery-1.11.1.min.js"></script>
	<script src="assets/js/libs/jquery.elevatezoom.min.js"></script>
	<script src="assets/js/libs/underscore-min.js"></script>
	<script src="assets/js/libs/angular.min.js"></script>
	<script src="assets/js/libs/bootstrap.min.js"></script>
	<script src="assets/js/libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="assets/js/libs/carousel.js"></script>

	<script src="assets/js/app.js?t=2"></script>
	<script src="assets/js/main-controller.js?t=2"></script>
	<script src="assets/js/directiva-aviso.js?t=2"></script>
	<script src="assets/js/directiva-aviso-small.js?t=2"></script>
	<script src="assets/js/directiva-maximizar.js?t=2"></script>
	<script src="assets/js/directiva-main-category.js?t=2"></script>
	<script src="assets/js/ng-elevate-zoom.js?t=2"></script>
	<script src="assets/js/controller-modal-details.js?t=2"></script>
</head>
<body data-ng-app="app" data-ng-controller="mainController">
	<div class="container-fluid main-container" ng-class="{'logo-on':logo_enter}" ng-style="footer_image_style">
		<div class="padded-main">
			<div class="row topbar">
				<img class="logo" src="imagenes/logo.jpg" ng-mouseenter="logo_enter = true" ng-mouseout="logo_enter = false">
				<div class="title">
					<h1>Chatons Bazar</h1>
					<span class="subtitle">Venta de art&iacute;culos decorativos y monedas de colecci&oacute;n</span>
				</div>
			</div>
			<form class="form-inline filtro" role="form">
				<span class="contact-filtro">Mail contacto: chatons.bazar@gmail.com</span>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="filtrotext" id="filter" placeholder="Filtrar...">
				</div>
			</form>
			<div class="row">
				<div class="category-bar">
					<h4>Categor&iacute;as</h4>
					<main-category category="category" selected-category="selected_category" handler="pick_new_category_chatons" ng-repeat="category in chatons.categories"></main-category>
					<br>
					<main-category category="category" selected-category="selected_category" handler="pick_new_category_monedas" ng-repeat="category in monedas.categories"></main-category>
				</div><div class="items-container">
					<div class="current-navigation" ng-if="selected_category">Categor&iacute;a &gt;&gt; <span ng-if="selected_category.parent"><a ng-click="last_fn(selected_category.parent)">{{selected_category.parent.name}}</a> &gt;&gt; </span> <a>{{selected_category.name}}</a></div>
					<aviso-small data-ng-repeat="item in filtered_items | filter:{text:filtrotext} | orderBy: 'name'" data-item="item"/>
				</div>
			</div>
		</div>
		<footer >
			<div class="contact">
				Mail contacto: chatons.bazar@gmail.com
			</div>
		</footer>
	</div>
</body>
</html>