.modal-body .modal-detail-img{
	max-width: 100%;
	max-height: 100%;
}
.zoomContainer{
	z-index: 99999;
}
.modal-body .zoom-help{
	font-size: 11px;
}
.modal-body .item-label{
	font-weight: bold;
}
#image_galery{
	margin-top: 15px;
}
#image_galery a img{
	width: 75px;
	height: 75px;
	cursor: pointer;
	margin-bottom: 5px;
}
#image_galery a img.active{
	border: 1px dashed rgb(35, 0, 247);
	box-shadow: 0px 4px 5px gray;
}
.description{
	padding-bottom: 15px;
	padding-top: 15px;
}
.feature{
	color: black;
	background-color: rgb(227, 232, 232);
	border: solid 1px white;
	font-weight: bold;
}
.centering{
	text-align: center;
}